html, body{
      height: 100%;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
}

body {
      margin-top: 30px;
      display: flex;
      user-select: none;
      background-color: #0d1117;
      justify-content: center;
      font-size: clamp(14px, min(1.5vw, 2vh), 18px);
      font-family: monospace;
}

ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
}

#top-menu{
      font-size: clamp(16px, min(1.5vw, 2vh), 20px);
      display: flex;
      position: fixed;
      text-align: center;
      gap: 10px;
      color: white;
      border-radius: 90px;
      background-color: #2c4564;
      padding: 5px 8px 5px 8px;
}

#deck {
      height: 90%;
      margin-top: 64px;
      position: relative;
      display: flex;
      justify-content: center;
      /* para ordenar las cartas correctamente
      * se altera su z-index, y para asegurarme de que 
      * el elemento Deck nunca bloquea la interacción
      * de las cartas con el mouse hay que editar el 
      * z-index */
      z-index: 10000;
}

.card {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80%;
      background-color: #131e2c;
      color: #f2f2f2;
      aspect-ratio: 7/11;
      border: #2c4564/*#c8c8e3*/ solid 18px;
      border-radius: 9px;

      transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-body {
      display: grid;
      grid-auto-rows: max-content;
      height: 100%;
      margin: 25px;
      gap: 20px;
}

.card-title {
      text-align: center;
      color: #876dc7;
      font-weight: bold;
      font-size: clamp(18px, min(1.8vw, 3.2vh), 31px);
      padding-bottom: 10px;
}

#presentation-images{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
}

#foto-dario{
      width: 100%;
      border-radius: 6px;
      /*
      box-shadow: 12px 12px 12px rgba(0, 7, 19, 0.6)
*/
}

.highlight {
      color: #d38951;
      font-weight: bold;
}

.description{
      border-radius: 6px;
      background-color: #0d1117;
      width: 96%;
      padding: 1% 2% 1% 2%;
      word-break: break-word;
}

#logos{
      position: absolute;
      display: flex;
      top: -5%;
      left: -5%;
      flex-direction: column;
      gap:10px;
}

.logo{
      width: 13%;
      border-radius: 90px;
}

.card:hover {
      box-shadow: 12px 12px 12px 12px rgba(0, 7, 19, 0.6)
}

@media(max-height: 675px){
      .discard-on-mobile{
            display: none;
      }
}
