html {
      height: 100%;
}

body {
      height: 100%;
      user-select: none;
      background-color: #0d1117;
      justify-content: center;
      font-size: clamp(12px, 1.5vw, 18px);
      font-family: monospace;
}

ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
}

#deck {
      height: 90%;
      margin-top: clamp(20px,2%,2%);
      position: relative;
      display: flex;
      justify-content: center;
      /* para ordenar las cartas correctamente
      * se altera su z-index, y para asegurarme de que 
      * el elemento Deck nunca bloquea la interacción
      * de las cartas con el mouse hay que editar el 
      * z-index */
      z-index: 10000;
}

.card {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5%;
      height: 80%;
      background-color: #131e2c;
      color: #f2f2f2;
      aspect-ratio: 7/11;
      border: #2c4564/*#c8c8e3*/ solid 18px;
      border-radius: 9px;

      transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-title {
      margin-left: 6%;
      margin-right: 6%;
      margin-top: 6%;
      color: #876dc7;
      font-weight: bold;
      font-size: clamp(16px, 3vw, 31px);
}

#presentation-images{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 86%;
      position: relative;
}

#foto-dario{
      width: 100%;
      border-radius: 6px;
      /*
      box-shadow: 12px 12px 12px rgba(0, 7, 19, 0.6)
*/
}

.highlight {
      color: #d38951;
      font-weight: bold;
}

.highlight-blue {
      color: #598cd0;
}

.description{
      border-radius: 6px;
      background-color: #0d1117;
      width: 82%;
      padding: 1% 2% 1% 2%;
      word-break: break-word;
}

#logos{
      position: absolute;
      display: flex;
      top: -12px;
      left: 8px;
      flex-direction: column;
      gap:10px;
}

.logo{
      user-select: none;
      top: 10%;
      width: 11%;
      border-radius: 90px;
}

.card:hover {
      transform: translateY(-15px) translateX(-5px);
      box-shadow: 12px 12px 12px 12px rgba(0, 7, 19, 0.6)
}
