body {
      user-select: none;
      display: flex;
      background-color: #0d1117;
      justify-content: center;
      font-size: 25px;
      font-family: monospace;
}

ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
}

#deck {
      margin-top: 2%;
      position: relative;
      display: flex;
      justify-content: center;
}

.card {
      top: 0px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 10px;
      width: clamp(200px,500px,500px);
      background-color: #131e2c ;
      color: #f2f2f2;
      aspect-ratio: 7/11;
      border: #2c4564/*#c8c8e3*/ solid 18px;
      border-radius: 9px;
     
      
      transition: transform 0.2s ease, box-shadow 0.2s ease;
/*
      border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
      border-style: solid;
      border-width: 4px;
*/
}

.card:hover {
      transform: translateY(-15px) translateX(-5px);
      box-shadow: 12px 12px 12px 12px rgba(0, 7, 19, 0.6)
}



.card-title {
      margin-top: 10px;
      padding-left: 30px;
      padding-bottom: 18px;
      color: #876dc7;
      font-family: monospace;
      font-weight: bold;
      font-size: 35px;
}

#foto-dario{
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 6px;
      margin-left: 25px;
      /*
      box-shadow: 12px 12px 12px rgba(0, 7, 19, 0.6)
*/
}

.highlight {
      color: #d38951;
      font-weight: bold;
}

.highlight-blue {
      color: #598cd0;
}

li{
      font-size: 18px;
}

p {
      font-size: 18px;
}

.description{
      margin-left: 25px;
      margin-right: 30px;
}

#presentation-images{
      position: relative;
}

#logos{
      position: absolute;
      display: flex;
      top: -12px;
      left: 8px;
      flex-direction: column;
      gap:10px;
}

.logo{
      user-select: none;
      top: 10%;
      width: 11%;
      border-radius: 90px;
}

.carve-in{
      padding: 8px;
      border-radius: 6px;
      background-color: #0d1117;
      /*box-shadow: 12px 12px 12px rgba(0, 7, 19, 0.6)
      * */
}
